<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test thread-count="5" name="Module1">
    <classes>
      <class name="assignmenteleven.moduleone.test.AssignmentOneClassTest"/>
    </classes>
  </test> 
  
    <test thread-count="5" name="Module2">
    <classes>
      <class name="assignmenteleven.moduletwo.test.AssignmentTwoClassTest"/>
    </classes>
  </test>
  
  <test thread-count="5" name="Module3">
    <classes>
      <class name="assignmenteleven.modulethree.test.AssignmentThreeClassTest"/>
    </classes>
  </test> 
  
   <test thread-count="5" name="Module4">
    <classes>
      <class name="assignmenteleven.modulefour.test.AssignmentFourClassTest"/>
    </classes>
  </test> 
</suite> <!-- Suite -->
